.App {
  text-align: center;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
  color: black !important;
}

iframe#webpack-dev-server-client-overlay{display:none!important}

