.App {
  text-align: center;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
  color: black !important;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* Remove these styles */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #555; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #1cb59c; /* color of the scroll thumb */
  border-radius: 10px; /* make the tracking area rounder */
}

::-webkit-scrollbar-thumb:hover {
  background: #15e9c5; /* color of the scroll thumb on hover */
}
