.App {
  text-align: center;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="time"]:focus::-webkit-datetime-edit {
  color: black !important;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #7c8181;
}

::-webkit-scrollbar-thumb {
  background: #373f3e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d5150;
}
